@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/* 메인 페이지에 적용된 CSS - header, footer 포함 */

* {
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans KR', sans-serif;
}

.font-anton {
	font-family: 'Anton', sans-serif;
}

#header {
	position: relative;
	min-width: 1500px;
	height: 100px;
	background: #111;
}

#header .header-inner {position: relative; max-width: 1500px;}

#header .header-search {position: absolute; left: 0; top: 37px; z-index: 5;}
#header .header-search i {font-size: 30px; color: #fff;}

#header .header-util {position: absolute; right: 0px; top: 42px;}
#header .header-util a {display: inline-block; vertical-align: middle; font-size: 15px; color: #fff;}
#header .header-util a:first-child::after {content: ""; display: inline-block; margin: 0 15px; width: 1px; height: 10px; background: #eee;}

#header nav a {display: inline-block; vertical-align: middle; height: 100%; font-size: 18px; color: #fff; margin: 0 30px; padding: 0 5px; padding-bottom: 3px; font-weight: 400;}
#header nav a.menu {position: relative;}
#header nav a.menu::after {content: ""; position: absolute; width: 0; height: 10px; left: 0; background: rgba(255, 255, 255, 0.5); transition: width 0.3s; left: 0; bottom: 0;}
#header nav a.menu:hover::after {width: 100%;}
#header .logo {}
#header .logo img {height: 100px;}



#container {
	min-height: 880px;
}

#boxoffice {
	background: #333;	
}

#boxoffice-text {
	width: 1100px;
	height: 100%;
	margin: 0;
}

#boxoffice-movie {
	width: 1500px;
	height: 750px;
	overflow: hidden;
}

#boxoffice-movie ol {
	height: 100%;
}

#boxoffice-movie ol li {
	position: relative;
	float: left;
	width: 20%;
	height: 100%;
	transition: width 0.5s;
}

#boxoffice-movie ol li.poster1 {
	background: url("../resources/img/main/1.jpg") no-repeat center;
	background-size: auto 100%;
}
#boxoffice-movie ol li.poster2 {
	background: url("../resources/img/main/2.jpg") no-repeat center;
	background-size: auto 100%;
}
#boxoffice-movie ol li.poster3 {
	background: url("../resources/img/main/3.jpg") no-repeat center;
	background-size: auto 100%;
}
#boxoffice-movie ol li.poster4 {
	background: url("../resources/img/main/4.jpg") no-repeat center;
	background-size: auto 100%;
}
#boxoffice-movie ol li.poster5 {
	background: url("../resources/img/main/5.jpg") no-repeat center;
	background-size: auto 100%;
}

#boxoffice-movie ol.active li {width:243px;}

#boxoffice-movie ol li.on {
	width: 526px;
}


.poster-hover {
	position: absolute;
	left: 0;
	top: 0; 
	background: rgba(0, 0, 0, 0.75);
	width: 100%;
	height: 100%;
	padding-top: 30%;
	box-sizing: border-box;
	z-index: 5;
	opacity: 0;
	transition: opacity 0.3s; 
}
.poster-hover h3 {
	font-size: 30px;
	color: #fff;
}
.poster-hover .poster-star {
	margin: 20px 0;
	color: #fff;
}

.poster-hover .poster-info {
	font-size: 18px;
	color: #fff;
}

#boxoffice-movie ol li:hover > .poster-hover {opacity: 1;}

#movieAd {
	width: 1100px;
	overflow: hidden;
	padding: 100px 0; 
}

#movieAd h2 {color: #000; font-size: 40px;}

#movieAdVedio {
	padding-top: 50px;
	width: 100%;
}
#movieAdVedio iframe {float: left;}
#movieAdVedio img {float: right;}

#poster {
	width: 380px;
	height: 400px;
}

#notice {
	padding: 30px 0;
	background: #eee;
}
#noticeConn {width: 1200px; margin: 0 auto;}
#noticeConn h2 {float: left; width : 150px; text-align: left; font-size: 24px; color: #000;}
#noticeConn .notice-slider {float: left; width: 1050px;}
.notice-slider-inner a {display: block; overflow: hidden; width: 100%;}
.notice-slider-inner a p {float: left; font-size: 18px; color: #000; line-height: 24px;}
.notice-slider-inner a span {float: right; font-size: 18px; color: #000; opacity: 0.6; line-height: 24px;}

#footer {
	display: block;
	padding: 30px 0;
	background: #111;
}

#footer .footer-inner {max-width: 1500px; margin: 0 auto; text-align: left; font-size: 18px; color: #fff; font-weight: 400;}