@charset "UTF-8";



.img-wrap, .info-wrap{
	display: inline-block;
}

#reply li{
	height: 125px;
}

.img-wrap img{
	margin-bottom: 55px;
}

#reply-area ul li div{
	margin-top: 10px;
	margin-left: 10px;
	font-size: 15px;
}

#reply-area, #pager{
	margin-left: 650px;
}

.grade{
	margin-left: 10px;
}

#pager{
	margin-bottom: 50px;

}
#pager li{
	display: inline-block;
}